.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#form2 {
    background: #fdfdfd;
    border: 1px solid #740383;
}

#main-form {
    width: 420px;
}

mat-card-title {
    color: #841d92;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

mat-label {
    color: #740383;
    font-size: 12px;
}

.col {
    flex-direction: column;
}

.grow {
    width: 100%;
}

.icon {
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 12px;
    color: #a09e9e;
}